@font-face {
  font-family: DS-Digital;
  src: url('../fonts/ds-digi.woff2')
       format('woff2')
}
body {
  background: url('../imgs/2457_small.jpg');
}
.app {
  text-align: center;
}
.header {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.device {
  width: 200px;
  height: 200px;
  padding-top: 3px;
  background: black;
  border-radius: 35%;
  border: 6px solid #5189A2;
  margin: auto;
}
.title {
  color: #C9C9C9;
  text-align: center;
  margin-bottom: 3px;
}
.display {
  margin: auto;
  padding-right: 5px;
  width: 100px;
  height: 50px;
  border: 1px solid #5189A2;
  background: #04151F;
  width: 150px;
  text-align: right;
  color: #1BB3F9;
}
.digitalNumbers {
  font-family: DS-Digital;
  font-size: 54px;
  line-height: 49px;
}
.buttonNames {
  display: flex;
  justify-content: space-around;
  color: #C9C9C9;
}
.buttonReset {
  display: block;
  position: relative;
  top: 7px;
  left: 141px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
}
.buttonCount {
  display: block;
  position: relative;
  top: -23px;
  left: 31px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  outline: none;
}
